# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
terraform.tfstate*

# Sensitive files
.env
!.env.example
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Module specific
tf
tfstate-*

# Examples
examples/*/terraform.tfstate
examples/*/.terraform/
examples/*/crash.log
